
@font-face {font-family: "iconfont";
  src: url('iconfont.eot?t=1482391322636'); /* IE9*/
  src: url('iconfont.eot?t=1482391322636#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('iconfont.woff?t=1482391322636') format('woff'), /* chrome, firefox */
  url('iconfont.ttf?t=1482391322636') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('iconfont.svg?t=1482391322636#iconfont') format('svg'); /* iOS 4.1- */
}

.iconfont {
  font-family:"iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-menu:before { content: "\e65b"; }

.icon-people:before { content: "\e61b"; }

.icon-right:before { content: "\e650"; }

.icon-bottom:before { content: "\e625"; }

.icon-top-copy:before { content: "\e60d"; }

